inst/
media/
.RData
.Rhistory
.git
.gitignore
manifest.json
rsconnect/
.Rproj.user
vignettes/burn_grading/
vignettes/spotlighting/
vignettes/rsconnect/
vignettes/flora_quadrats/
vignettes/media/
vignettes/plant_health/
*.html
*.zip
.drake/
Dockerfile
